<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>HEY, I’M Alex Ponce</h1>
    <p>I’m a developer</p>
    <p>By day, I work as a developer / Front-End developer.</p>
    <p>You can find me speaking in 140 characters on Twitter<a href="https://twitter.com/cponcax">@cponcax</a> or on Facebook<a href="https://www.facebook.com/cponcax">cponcax</a></p>
    <p>If you’d like to say hello, shoot me an email at gponcax@gmail.com</p>
  </div>
</div>





 

